@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,300;1,500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
}

#meowmory-title {
    font-size: 2em;
}

#meowmory-board {
    height: 500px;
    width: 500px;
}

#message-button {
    color: purple;
}


